{% extends 'base.html' %}

{% block titulo %}
    INICIO - NovaMart
{% endblock titulo %}

{% block contenido %}

    <div class="row">
        <div class="col-12 header">
            <h1 class="text-center fw-bold m-0">GESTOR DE PRODUCTOS</h1>
        </div>
    </div>

<div class="container mt-4">
    <div class="d-flex justify-content-between align-items-center mb-4">
        <div>
            <h1>Productos</h1>
            <p>Gestiona y consulta todos los productos</p>
        </div>

        <button class="btn boton"
                data-bs-toggle="modal"
                data-bs-target="#modalProducto">
            Nuevo producto
        </button>
    </div>

    <div class="mb-4">
        <input type="text"
            id="busqueda"
            class="form-control"
            placeholder="Buscar productos...">
    </div>
    <div class="row" id="contenedorProductos"></div>
</div>

<div class="modal fade" id="modalProducto">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title">Producto</h5>
                <button type="button"
                        class="btn-close"
                        data-bs-dismiss="modal">
                </button>
            </div>

            <div class="modal-body">

                <input type="hidden" id="indice">

                <div class="mb-3">
                    <label>Nombre</label>
                    <input type="text"
                        id="nombre"
                        class="form-control">
                </div>

                <div class="mb-3">
                    <label>Precio</label>
                    <input type="number"
                        id="precio"
                        class="form-control">
                </div>

                <div class="mb-3">
                    <label>Stock</label>
                    <input type="number"
                        id="stock"
                        class="form-control">
                </div>

                <div class="mb-3">
                    <label>Imagen URL</label>
                    <input type="text"
                        id="imagen"
                        class="form-control">
                </div>

            </div>

            <div class="modal-footer">
                <button class="btn boton"
                        data-bs-dismiss="modal">
                    Cancelar
                </button>

                <button class="btn boton"
                        onclick="guardarProducto()">
                    Guardar
                </button>
            </div>

        </div>
    </div>
</div>

<script>

let productos = [
    {
        nombre:'Audífonos RGB Pro',
        precio:599,
        stock:14,
        imagen:'https://images.unsplash.com/photo-1505740420928-5e560c06d30e?q=80&w=1200&auto=format&fit=crop'
    },
    {
        nombre:'Mouse Gamer X7',
        precio:399,
        stock:3,
        imagen:'https://images.unsplash.com/photo-1527864550417-7fd91fc51a46?q=80&w=1200&auto=format&fit=crop'
    }
];

function mostrarProductos(lista = productos){

    let contenedor =
        document.getElementById("contenedorProductos");
    contenedor.innerHTML = "";
    lista.forEach((p,i)=>{
        contenedor.innerHTML += `

        <div class="col-12 col-sm-6 col-md-3">
            <div class="card h-100 shadow">
                <img src="${p.imagen}" class="img-fluid">

                <div class="card-body">
                    <h5>${p.nombre}</h5>
                    <p>
                        Precio: $${p.precio}
                    </p>
                    <p>
                        Stock: ${p.stock}
                    </p>
                    <button
                        class="btn boton btn-sm"
                        onclick="editarProducto(${i})">
                        Editar
                    </button>
                    <button
                        class="btn boton btn-sm"
                        onclick="eliminarProducto(${i})">
                        Eliminar
                    </button>
                </div>
            </div>
        </div>
        `;
    });
}

function guardarProducto(){

    let nombre =
        document.getElementById("nombre").value;
    let precio =
        document.getElementById("precio").value;
    let stock =
        document.getElementById("stock").value;
    let imagen =
        document.getElementById("imagen").value;
    let indice =
        document.getElementById("indice").value;
    if(
        nombre==="" ||
        precio==="" ||
        stock==="" ||
        imagen===""){
        alert("Completa todos los campos");
        return;
    }

    let producto = {
        nombre,
        precio,
        stock,
        imagen
    };

    if(indice === ""){
        productos.push(producto);
    }else{
        productos[indice] = producto;
    }

    mostrarProductos();
    limpiarFormulario();
    bootstrap.Modal.getInstance(
        document.getElementById('modalProducto')
    ).hide();
}

function editarProducto(i){

    let p = productos[i];
    document.getElementById("indice").value = i;
    document.getElementById("nombre").value = p.nombre;
    document.getElementById("precio").value = p.precio;
    document.getElementById("stock").value = p.stock;
    document.getElementById("imagen").value = p.imagen;
    new bootstrap.Modal(
        document.getElementById("modalProducto")
    ).show();
}

function eliminarProducto(i){
    if(confirm("¿Eliminar producto?")){
        productos.splice(i,1);
        mostrarProductos();
    }
}

function limpiarFormulario(){
    document.getElementById("indice").value = "";
    document.getElementById("nombre").value = "";
    document.getElementById("precio").value = "";
    document.getElementById("stock").value = "";
    document.getElementById("imagen").value = "";
}

document
.getElementById("busqueda")
.addEventListener("keyup", function(){

    let texto =
        this.value.toLowerCase();
    let filtrados =
        productos.filter(p =>
            p.nombre
            .toLowerCase()
            .includes(texto)
        );
    mostrarProductos(filtrados);
});

mostrarProductos();

</script>

{% endblock contenido %}