{% extends 'base.html' %}

{% block titulo %}
    RECUPERAR CONTRASEÑA - NovaMart
{% endblock titulo %}

{% block contenido %}

<body>
    <div class="row">
        <div class="col-12 header">
            <h1 class="text-center fw-bold m-0">
                RECUPERAR CONTRASEÑA
            </h1>
        </div>
    </div>

    <main class="container d-flex justify-content-center">
        <div class="card shadow p-5 mt-4"
                style="max-width: 550px; width: 100%;">
                    <h2 class="text-center mb-2">
                        ¿Olvidaste tu contraseña?
                    </h2>
            <p class="text-center text-muted mb-4">
                Ingresa tu correo electrónico para recuperar tu cuenta
            </p>

            <form method="POST" action="/recuperar">
                <div class="mb-4">
                    <label for="correo" class="form-label">
                        Correo electrónico
                    </label>
                    <input type="email"
                        class="form-control"
                        id="correo"
                        name="correo"
                        placeholder="Ingresa tu correo"
                        required>
                </div>

                <div class="text-center mt-4">
                    <button type="submit"
                            class="btn boton w-50">Restablecer contraseña</button>
                </div>

                <div class="text-center mt-4">
                    ¿Ya recordaste tu contraseña?
                    <a href="/" class="link">
                        Iniciar sesión
                    </a>
                </div>
            </form>
        </div>
    </main>
</body>

{% endblock contenido %}
